.navbarContainer {
  font-size: 18px;
}

.nav {
  justify-content: space-between;
}

.navBar {
  background-color: #97b526; 
  padding: 0;
  margin: 0;
}

.navBarBrand {
  padding: 0;
}

.category {
  color: white;
}

.iconButton {
  margin-left: 2.5px;
  margin-right: 2.5px;
}
