.cartContainer {
  font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    padding: 20px;
}


.cartItemContainer {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    padding-bottom: 20px;  
    padding-top: 20px;
}

.information, .buttons {
  display: flex;
  margin-right: 5px;
  justify-content: space-between;
}

.cartItem {
  padding-right: 5px;
}

.productImage {
  padding-top: 20px;
}
